<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <title>CURRICULUM</title>
    </head>
    <body>
        <!--<h1>CURRICULUM</h1>-->
        <!--<%for(let i=0; i<curriculum.length; i++){%>-->
            <!--<ul>-->
                <!--<li><%=curriculum[i].class%></li>-->
            <!--</ul>-->
        <!--<%}%>-->
        <table border="1">
            　<tr>
                　<td>時間\星期幾</td>
                　<td>星期一</td>
                  <td>星期二</td>
                  <td>星期三</td>
                  <td>星期四</td>
                  <td>星期五</td>
                  <td>星期六</td>
                  <td>星期日</td>
                　</tr>
            　<tr>
                　<td>07:00~08:00</td>
                　<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>08:00~09:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>09:00~10:00</td>
                　<td></td>
                  <td>OS</td>
                  <td></td>
                  <td>Computer Network</td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>10:00~11:00</td>
                　<td></td>
                  <td>OS</td>
                  <td></td>
                  <td>Computer Network</td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>11:00~12:00</td>
                　<td></td>
                  <td>OS</td>
                  <td></td>
                  <td>Computer Network</td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>12:00~13:00</td>
                　<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>13:00~14:00</td>
                　<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Java</td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>14:00~15:00</td>
                　<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Java</td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>15:00~16:00</td>
                　<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Java</td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>16:00~17:00</td>
                　<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>17:00~18:00</td>
                　<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>18:00~19:00</td>
                　<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>19:00~20:00</td>
                　<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>20:00~21:00</td>
                　<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
            　<tr>
                　<td>21:00~22:00</td>
                　<td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                　</tr>
        </table>
        <script src="/js/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>