<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <title>LOGIN</title>
    </head>
    <body>
        <h3>LOGIN</h3>
        <form name="loginForm" action="/auth/login" method="post">
            studentID: <input name="studentID" class="studentID"><br/>
            password: <input type="password" name="password" id="password "><br/>
            <input type="submit" name="login" value="login">
        </form>
        <h3>SIGNUP</h3>
        <form name="signUpForm" action="/auth/signUp" method="post">
            studentID: <input name="studentID" class="studentID"><br/>
            password: <input type="password" name="password" id="password"><br/>
            <input type="submit" name="signUp" value="signUp">
        </form>
        <script src="/js/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>